@using Entity.Concrete
@model Movie
@{
    ViewData["Title"] = "UpdateMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Film Arşivi Yönetimi/</span> Film Ekleme Formu</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                </div>
                <div class="card-body">
                    <form action="/Movie/UpdateMovie" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="Id" value="@Model.Id" class="form-control" id="basic-default-name" placeholder="Film adı giriniz..." />
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Film Adı</label>
                            <div class="col-sm-10">
                                <input type="text" name="Name" value="@Model.Name" class="form-control" id="basic-default-name" placeholder="Film adı giriniz..." />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-company">Yönetmen</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="Director"
                                       value="@Model.Director"
                                       class="form-control"
                                       id="basic-default-company"
                                       placeholder="Yönetmen Adı Giriniz..." />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-email">IMDB Puan</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <input type="text"
                                           name="ImdbRate"
                                           value="@Model.ImdbRate"
                                           id="basic-default-email"
                                           class="form-control"
                                           placeholder="IMDB Puanı Giriniz"
                                           aria-label="john.doe"
                                           aria-describedby="basic-default-email2" />
                                    <span class="input-group-text" id="basic-default-email2"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-email">Resim</label>
                            <div class="col-sm-10">
                                <div class="input-group input-group-merge">
                                    <input type="file"
                                           name="File"
                                           id="basic-default-email"
                                           class="form-control"
                                           aria-label="john.doe"
                                           aria-describedby="basic-default-email2" />
                                    <span class="input-group-text" id="basic-default-email2"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-email">Kategori Seçimi</label>
                            <div class="col-sm-10">
                                @Html.DropDownList("CategoryId", (List<SelectListItem>)ViewBag.Category,"Kategori Seçiniz", new {@name="CategoryId", @value=Model.CategoryId, @class = "form-select form-control col-sm-10" })
                                
                            </div>

                        </div>

                        <div class="row justify-content-end">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Filmi Güncelle</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


